" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

source ~/.lazy-idea/lazy-idea.vim

let g:WhichKey_ShowTypedSequence = "true"
let g:WhichKey_FontFamily = "JetBrains Mono"
let g:WhichKey_CommandColor = "C191FF"
let g:WhichKey_SortOrder = "by_key_prefix_last"
let g:WhichKey_ShowVimActions = "true"

set highlightedyank

"" Tests
map <leader>ts <Action>(ActivateUnitTestsToolWindow)

"" Flash
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

"" AI
let g:WhichKeyDesc_ai = "<leader>a +ai"
map <leadr>at <Action>(OpenCode.AddLines)

"" Harpoon
let g:WhichKeyDesc_harpoon_menu = "<leader>h Harpoon quick menu"
nmap <leader>h <action>(HarpoonerQuickMenu)

let g:WhichKeyDesc_harpoon_add_file = "<leader>H Harpoon file"
nmap <leader>H <action>(HarpoonerAddFile)

let g:WhichKeyDesc_harpoon_go1 = "<leader>1 Harpoon to file 1"
nmap <leader>1 <action>(HarpoonerOpenFile0)

let g:WhichKeyDesc_harpoon_go2 = "<leader>2 Harpoon to file 2"
nmap <leader>2 <action>(HarpoonerOpenFile1)

let g:WhichKeyDesc_harpoon_go3 = "<leader>3 Harpoon to file 3"
nmap <leader>3 <action>(HarpoonerOpenFile2)

let g:WhichKeyDesc_harpoon_go4 = "<leader>4 Harpoon to file 4"
nmap <leader>4 <action>(HarpoonerOpenFile3)

let g:WhichKeyDesc_harpoon_go4 = "<leader>5 Harpoon to file 5"
nmap <leader>5 <action>(HarpoonerOpenFile4)

"" OVERRIDES ""

" Use csharpier for formatting
nmap <leader>cf <Action>(com.intellij.csharpier.ReformatWithCSharpierAction)
vmap <leader>cf <Action>(com.intellij.csharpier.ReformatWithCSharpierAction)

" Use hover info
nmap <S-K> <Action>(ShowHoverInfo)
